/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   LAYOUT                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Layout {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0px;
    padding: 50px 100px;
  }

  .outlet {
    display: block;
    flex: 1;
  }
}
